*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
build/generated/res/
build/generated/source/aidl/
build/generated/source/apt/debug/com/dhc/lib/
build/generated/source/rs/
build/intermediates/bundles/debug/aidl/
build/intermediates/bundles/debug/assets/
build/intermediates/check-manifest/
build/intermediates/classes/debug/com/dhc/lib/uikit/BR.class
build/intermediates/data-binding-compiler/
build/intermediates/data-binding-info/androidTest/
build/intermediates/incremental/debug-mergeJniLibs/
build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
build/intermediates/incremental/mergeDebugJniLibFolders/
build/intermediates/incremental/packageDebugResources/merged.dir/
build/intermediates/incremental/packageDebugResources/stripped.dir/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/jniLibs
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/tmp/
build/intermediates/transforms/
build/tmp/
src/main/res/drawable/
